[Desktop Entry]
Type=DUIApplet
Name=Meegotouch textinput settings
X-logical-id=qtn_txts_text_input
X-translation-catalog=text-input-settings

Icon=
Exec=

X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
# this has to be the same as Name
X-Maemo-Fixed-Args=Meegotouch textinput settings

[DUI]
X-DUIApplet-Applet=libmimsettingsapplet.so

[DCP]
Category=Time & Language
Order=4
WidgetType=Label

