*.o
*.lo
*.la
Makefile
Makefile.in
aclocal.m4
.deps
.libs
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/lt*.m4
m4/libtool.m4
m4/intltool.m4
mkinstalldirs
stamp-h1
