meego-im-context-dbg
meego-im-context
meego-im-uiserver
meego-im-uiserver-dbg
files
libmeegoimframework-dev
libmeegoimframework-doc
libmeegoimframework0-dbg
libmeegoimframework0
meego-im-framework-tests
tmp
meego-im-context.install
libmeegoimframework-dev.install
*.debhelper*
*.substvars
meego-im-settings-applet
