Source: meego-im-framework
Section: libs
Priority: extra
Maintainer: Mohammad Anwari <Mohammad.Anwari@nokia.com> 
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.6) | libqt4-maemo5-dev (>= 4.6), doxygen, libqt4-opengl-dev | libqt4-maemo5-dev, libgles2-sgx-img-dev [arm armel] | libgles2-dev [arm armel], opengles-sgx-img-common-dev [arm armel], libgl-dev [i386], libgl1 [i386], libxcomposite-dev, libxfixes-dev, libxext-dev, libmeegoreactionmap-dev (>= 0.14.0-1), dbus-1-utils, pkg-config, dpkg-dev, libmeegotouch-dev (>= 0.20.42), libduicontrolpanel-dev (>= 0.7.20), graphviz
Standards-Version: 3.7.2

Package: meego-im-uiserver
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, meego-im-context
Recommends: meego-im-virtualkeyboard
Description: MeegoTouch Input Method UI Server
 MeegoTouch Input Method UI Server 

Package: libmeegoimframework0
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}, meego-im-context
Description: MeegoTouch Input Method UI Framework library
 libmimuiframework framework library

Package: libmeegoimframework-dev
Section: libdevel
Architecture: all
Depends: libmeegoimframework0 (>= ${source:Version}), libqt4-dev (>= 4.6) | libqt4-maemo5-dev (>= 4.6)
Description: libmimmuiframework development files
 Development files for MeegoTouch Input Method UI Framework.

Package: libmeegoimframework0-dbg
Section: devel
Architecture: any
Depends: libmeegoimframework0 (= ${binary:Version})
Description: libmimmuiframework debug files
 Debug files for MeegoTouch Input Method UI Framework.

Package: libmeegoimframework-doc
Section: doc
Architecture: all
Description: Technical documentation of MeegoTouch Input Method Framework 
 Technical documentation of MeegoTouch Input Method Framework. 
 Includes API reference and internal documentations.

Package: meego-im-framework-tests
Architecture: any
Depends:  testrunner-lite, ci-testing, meego-im-uiserver (= ${binary:Version}), libmeegoimframework0 (= ${binary:Version}), meego-im-settings-applet (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
XB-Maemo-CI-Packages: libmeegoimframework0, meego-im-uiserver
XB-Maemo-CI-Stage: fast, staging
Description: MeegoTouch Input Method Framework Unit Test Suite 
 MeegoTouch Input Method Framework unit test suite. 

Package: meego-im-context
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Qt input method context for MeegoTouch Framework

Package: meego-im-context-dbg
Section: libs
Architecture: any
Depends: meego-im-context (= ${Source-Version})
Description: Debugging version of Qt input method context for MeegoTouch Framework

Package: meego-im-settings-applet
Architecture: any
Depends: duicontrolpanel (>= 0.7.20), libduicontrolpanel (>= 0.7.20), libmeegoimframework0 (= ${binary:Version})
Description: MeegoTouch Text Input Settings Applet
